@page
@using WalleeCharging.Price
@using System.Globalization
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Charging Parameters</h1>
<form method="post">
    <div>
        <label>Max meter power [watts]</label>
        <input type="number" name="maxTotalPowerWatts" value="@Model.ChargingParameters.MaxTotalPowerWatts"> 
    </div>

    <div>
        <label>Max day-ahead price [eurocent/MWh]</label>
        <input id="maxPriceEurocentPerMWh" type="number" name="maxPriceEurocentPerMWh" value="@Model.ChargingParameters.MaxPriceEurocentPerMWh">
        <div style="margin-left:2em; margin-top:0.5em;">
            <div>
                <input type="button" value="-" onclick="decreaseMaxPrice()">
                <input type="button" value="+" onclick="increaseMaxPrice()">
            </div>
            <div>
                <input type="button" value="minimum" onclick="setMaxPriceToPercentile(0)">
                <input type="button" value="lower 10%" onclick="setMaxPriceToPercentile(.1)">
                <input type="button" value="lower 20%" onclick="setMaxPriceToPercentile(.2)">
                <input type="button" value="median" onclick="setMaxPriceToPercentile(.5)">
                <input type="button" value="maximum" onclick="setMaxPriceToPercentile(1)">
            </div>
        </div>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

<h1>Prices</h1>
<canvas id="priceChart" style="max-height: 50vh;"></canvas>

<h1>Appliance Assistant</h1>
Optimal start times and expected cost:
<ul id="applianceHints">
</ul>

<h1>Activity</h1>
<ul id="activityList">
</ul>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr-subscriber.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/price-chart.js"></script>

<script src="/js/applianceHints.js"></script>